<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content chat</title>
</head>
<header id="top">
    <a href="index.html" aria-label="Go to home page">
       <img src="images/12.svg" alt="Health hero Logo" width="240" height="240"></a> 
       <h1><a href="index.html" aria-label="Go to the Health hero Logo">Health hero</a></h1>
   
        <nav aria-label="Main Navigation">
          <ul>
               <li><a href="index.html" >Home</a></li>
               <li><a href="#" aria-current="page">Content</a></li>
               <li><a href="signup.html">Login</a></li>
            </ul>
        </nav>
   </header>
<body>
    <div class="container">
    <h2>i searched something</h2>
</div>
<footer>
    <p>Copyright &copy; 2024 Sunhackers</p>
</footer> 
</body>
</html>