<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health hero</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
 <body>
        <header id="top">
         <a href="index.html" aria-label="Go to home page">
            <img src="images/12.svg" alt="Health hero Logo" width="240" height="240"></a> 
            <h1><a href="index.html" aria-label="Go to the Health hero Logo">Health hero</a></h1>
        
             <nav aria-label="Main Navigation">
               <ul>
                    <li><a href="#" aria-current="page">Home</a></li>
                    <li><a href="">Content</a></li>
                    <li><a href="">Login</a></li>
                 </ul>
             </nav>
        </header>
     <main>
       <img src="images/mainpo.jpg" alt="mainpagephoto" width="1400" height="780">
       <h2>Aid for you</h2>
       <section>
       <nav>
        <ul>
             <li><a href="">Cut</a></li>
             <li><a href="">Brun</a></li>
             <li><a href="">Scrape</a></li>
          </ul>
      </nav>
    </section>
    </main>

    <footer>
        <p>Copyright &copy; 2024 Sunhackers</p>
    </footer> 

    </body>
</html>
